
body {
    background-color: rgb(0, 0, 0);
    position: relative;
    margin: 0;
    padding: 0;
    
}
.navbar-container {
    position: fixed;
    top:0;
    width: 100%;
    /* background-color: rgba(0,0,0,.5); */
    background-color: rgba(85, 85, 85,0.5);
    /* border: 3px solid yellow; */
    border-radius: 5px;

}
.logo {
    float: left;
    margin: 10px 120px 0 10px;
}

.nav-item {
    /* display: inline-block; */
    margin: 20px;
    float: left;
    list-style-type: none;
}
.navbar-items::after {
    content:"";
    display: block;
    clear: both;
}
.nav-item a {
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    /* font-family: ; */
    padding: 12px;
    color: white;
}
.text {
    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
}
.about {
    color: white;
}
.cart {
    float: right;
}
.nav-item a:hover {
    background-color: yellow;
    color: black;

}
h2 {
    color: yellow;
    text-align: center;
    margin-top: 150px;
}
.menulist-item {
    list-style-type: none;
    width: 400px;
    display: inline-block;
    margin: 10px;
    padding: 20px;
    border: 1px solid yellow;
    height:250px;
    border-radius: 5px;
    box-shadow: inset 0 0.1em 0 0 rgba(241, 231, 114, 0.767), 0 4px 19px rgba(244, 237, 38, 0.808);
}
.description {
    height: 85px;
    color: white;
}
.itemname,.price {
    color: yellow;
}
.btn-container {
    margin: 30px;
    text-align: center;
    /* padding: 20px; */
}
.filter-btn {
    padding: 5px;
    margin: 10px;
    text-transform: uppercase;
    border-color: transparent;
    border-radius: 5px;
    border: 1px solid yellow;
    color: rgb(0, 0, 0);
    font-size: 13px;
    background-color: yellow;
}
.border-img {
    height: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: yellow;
    padding: 0;
}
/* .gallery {
    width: 450px;
} */
.socialmedia {
    padding: 25px;
    /* border: 1px solid rgb(94, 220, 220); */
    background-color: rgba(85, 85, 85,0.5);
    border-radius: 5px;
}
.socialmedia-links {
    text-align: center;
    padding: 20px;
}
.instagram,.facebook {
    text-align: center;
    padding-right: 30px; 
    color: yellow;

}
.address {
    color: yellow;
    text-align: center;
}
.address-text,.contact {
    margin: 20px;
}
/* 
.navbar-container {
    background-color: rgb(0, 0, 0,0.5);
    width: 800px;
}
.navbar-items {
    padding: 20px;
    font-size: 13px;
    font-weight: bold;
}
.lo
    width: 250px;
    margin-left: 50px;
    margin-top: 10px;
}
a {
    text-decoration: none;
    color: yellow;
    padding: 10px;
}
a:hover {
    background-color: yellow;
    color: black;
    border-radius: 5px;
}
h2,.itemname,.price{
    color: yellow;
}
.description {
    color: white;
}
.menulist-container {
    width: 70%;
    margin: auto;
    justify-content: center;
    
}
.menulist-item {
    border: 1px solid yellow;
    height: 300px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #363636;
}
.itemname,.price {
    text-align: center;
}
.addtocart-btn {
    width: 300px;
    margin: 0 auto;
    padding: 5px;
    border-radius: 5px;
    border-color: transparent; 
}

.cart {
    float: right;
} */
.cnw-relative {
    position: relative;
}
.ellipse {
    display: inline-block;
    width: 200px;
    height: 150px;
    border-radius: 75px;
    background-color: red;
}
.triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid red;
}
.one {
    position: relative;
    top: -57px;
    left: -3px;
}
.two {
    position: relative;
    top: -97px;
    left: -23px;
}